.encabezado /*realizando una clase*/
{
    font-size: 72px; 
    color: rgb(63, 77, 69);
    background-color: rgb(240, 143, 196); 
    text-align: center;
    text-transform: uppercase;
}

h1 
{
    /* se pueden poner en pulgadas y cm
    medidas: px, cm, in, em, rem*/
    /*font-size: 5cm;
    font-size: 5in;*/
    font-size: 72px; /*tamaño de la letra  de h1*/

    color: darkgoldenrod; /*color de la letra de h1*/
    background-color: cyan; /*color de fondoe de la letra de h1*/
    text-align:left;/*para centrar un texto*/
    text-transform: uppercase; /*pasa a mayusculas todo el texto de h1*/
}
/*--para cambiar el estilo de h1  */

body
{
    background-color: rgb(195, 161, 226);
}
.texto
{
    color: rgb(14, 13, 13);
    background-color: cornflowerblue;
}
p
{
    color: blueviolet;
    background-color: burlywood;
}